<div class="transitions-enabled" style="text-align: center">
   <%= link_to"Banners", pins_path, class: "btn btn-primary white"%>
   <%= link_to"Text", websites_path, class: "btn btn-primary white"%>
</div>
