
<div class="jumbotron center">
	<h1>Welcome to my app</h1>
	
	<p>
		<%= link_to"Login", new_user_session_path, class: "btn btn-primary"%>
<<<<<<< HEAD
		<%= link_to"Banners", pins_path, class: "btn btn-primary"%>
 	  <%= link_to"Text", websites_path, class: "btn btn-primary"%>
=======
>>>>>>> 280ef081be4e139e1be6de6ff9ac02901703a2e4
	</p>
	
	<button type="button" class="btn btn-default btn-lg">
	<span class="glyphicon glyphicon-screenshot"></span>
	</button>
</div>
