.website
  border-radius: 5px
  margin: 5px
  width: 64%
  h4
    font-size: 18px
    .title-tag
      margin-right: 0px
      text-align: left
      font-size: 14px
      color: red
  .description
    text-align: justify
